body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://i.pinimg.com/originals/37/19/eb/3719ebdbfc5497a68688ec7604b6d440.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
